<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects List</title>
  </head>
  <body>
    <h1>Projects List</h1>
    {% if projects %}
    <table>
      <th>Project Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Assigned To</th>
      <th>Priority</th>
      {%for project in projects %}
      <tr>
        <td>{{project.name}}</td>
        <td>{{project.startDate}}</td>
        <td>{{project.endDate}}</td>
        <td>{{project.assigned_to}}</td>
        <td>{{project.priority}}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>No projects found.</p>
    {% endif %}
  </body>
</html>
